html{
    margin: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.input{
    background-color: #fff;
    height: 50px;
    width: 200px;
    border: solid black 2px;
    display: inline-block;
    font-size: large;
    text-align: center;
}

.canvas{
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
}

.button{
    height: 100px;
    width: 100px;
    border: solid black 2px;
    display: inline-block;
    background-color: #fff;
}