html{
    margin: 0;
}

.canvas{
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
}

.button{
    height: 100px;
    width: 100px;
    border: solid black 2px;
    display: inline-block;
}

#gray{
    background-color: gray;
}

#red{
    background-color: red;
}

#yellow{
    background-color: yellow;
}

#blue{
    background-color: blue;
}

#purple{
    background-color: purple;
}

#green{
    background-color: green;
}

#greenyellow{
    background-color: greenyellow;
}
